{% extends "root.html" %}
{% block "body" %}
{% for server in object_list %}
<div class="card">
  <div class="card-body">
    <a href="{% url 'server-detail' server.pk %}">
      <h5 class="card-title">{{ server.name }}</h5>
    </a>
    <p class="card-text">
    <dl>
      <dt>Prefix</dt>
      <dd>
        <span class="badge badge-pill badge-light">{{ server.prefix }}</span>
      </dd>

      <dt>Cosmetic roles</dt>
      <dd>
        {% for role in server.roles %}
        <span class="badge badge-pill badge-light">{{ role }}</span>
        {% endfor %}
      </dd>

      <dt>Streaming role</dt>
      <dd>
        <span class="badge badge-pill badge-light">{{ server.streaming_role }}</span>
      </dd>

      <dt>Streaming role requires</dt>
      <dd>
        <span class="badge badge-pill badge-light">{{ server.streaming_role_requires }}</span>
      </dd>
    </dl>
    </p>
  </div>
</div>
{% endfor %}
{% endblock "body" %}
