{% extends "root.html" %}
{% block "body" %}
{% for server in object_list %}
<div class="card">
  <div class="card-body">
    <a href="{% url 'server-detail' server.pk %}">
      <h5 class="card-title">{{ server.name }}</h5>
    </a>
    <p class="card-text">
    <dl>
      <dt>Prefix</dt>
      <dd><code>{{ server.prefix }}</code></dd>
      <dt>Cosmetic roles</dt>
      <dd><code>{{ server.roles|join:", " }}</code></dd>
      <dt>Streaming role</dt>
      <dd><code>{{ server.streaming_role }}</code></dd>
      <dt>Streaming role requires</dt>
      <dd><code>{{ server.streaming_role_requires }}</code></dd>
    </dl>
    </p>
  </div>
</div>
{% endfor %}
{% endblock "body" %}
