{% extends "base.html" %}
{% block "body" %}
<article>
<h2>Documentation</h2>
<p>
  Ask Tyche for help in Discord via <span class="badge badge-pill
  badge-light">?help</span> (or whatever prefix is configured for your server).
</p>
<p>
  Tyche can control music, roll dice, and grant or revoke roles. Music commands
  include <span class="badge badge-pill badge-light">?play</span>,
  <span class="badge badge-pill badge-light">?pause</span>,
  <span class="badge badge-pill badge-light">?resume</span>,
  <span class="badge badge-pill badge-light">?stop</span>, and
  <span class="badge badge-pill badge-light">?vol</span>. Dice commands
  include <span class="badge badge-pill badge-light">?roll</span>. Role
  commands include <span class="badge badge-pill badge-light">?role</span> and
  <span class="badge badge-pill badge-light">?unrole</span>. 
</p>
</article>
{% endblock "body" %}
